*{
    font-family: 'Lato', sans-serif;
}

.top{
    margin: 0 auto;
    max-width: 800px;
    padding-inline: 24px;
    padding-block-end: 64px;


    > h2{
        font-size: 2rem;
        padding-block-start: 96px;
        padding-block-end: 48px;
    }

    > p{
        max-width: 415px; 
    }
}

.bottom{
    background-color:hsla(0, 0%, 40%, 1);
    border-top: 8px solid hsla(0, 0%, 60%, 1);
    padding-block-start: 72px;
    padding-block-end: 60px;
}

.title{
    margin: 0 auto;
    max-width: 800px;
    background: hsla(0, 0%, 100%, 1); 
    padding-inline: 24px;
    border-top: 6px solid hsla(0, 0%, 60%, 1);
    padding-block-end: 24px;
    padding-block-start: 8px;
    

    > h2{
        width: fit-content;
        word-wrap: wrap;
        background-color: hsla(45, 100%, 50%, 1);
        padding-inline: 32px;
        padding-block-start: 16px;
        padding-block-end: 15px;
        margin-inline-start: -24px;
        border-bottom: 8px solid hsla(45, 100%, 40%, 1);
        margin-block-end: 16px;
        }
}

h2{
    line-height: 1.2;
}
p{
    margin-block-end: 16px;
    font-size: 20px;

}
strong{
    color: hsl(160, 100%, 30%);
}

.container{
    margin: 0 auto;
    max-width: 800px;
    background-color: white;
    border: 4px solid rgb(220, 217, 217);
}

body{
    background-color: black;
}
